/** MASS EFFECT **/
$tech-purp: #6C3952;
$sr1:       #6B1716;
$sr2:       #af1905;
$sr3:       #d6361f;
$passion:   #ec540e;
$passion2:  #ff9465;
/** Digikey **/
$dgk:       #F4F4F4;
$canv:      #EFEFEF;
/** Normandy-SR2 **/
$db3:       #283758;
$db2:       #324D7F;
$db1:       #4A5F90;
$db190:     #4A5F9090;
$lb3:       #5C79A3;
$lb2:       #6C87B2;
$lb1:       #809ABC;
$lb180:     #809ABC80;
$lb150:     #809ABC50;
$lb1bg:     #809ABC20;
/** Normandy-SR1 **/
$lg1:       #EFECF0;
$lg170:     #EFECF070;
$lg2:       #DAD8DB;
$lg3:       #A9A6A9;
$dg1:       #5A5A5A;
$dg2:       #4C4C4C;
$dg3:       #3C393A;
$blk1:      #222222;
$blk2:      #0E0E0E;
$blk3:      #080A09;
