@font-face {
  font-family: "ArimoNerdFont-Regular";
  src: url("../fonts/ArimoNerdFont-Regular.ttf"); //format() is not needed 
}

@font-face {
  font-family: "ArimoNerdFont-Bold";
  src: url("../fonts/ArimoNerdFont-Bold.ttf"); 
}

@font-face {
	font-family: "Trueno-Semibold";
	src: url("../fonts/Trueno/TruenoSemibold-Z9yl.otf");
}

@font-face {
	font-family: "Trueno-Regular";
	src: url("../fonts/Trueno/Trueno-wml2.otf");
}

@font-face {
	font-family: "Trueno-Light";
	src: url("../fonts/Trueno/TruenoLight-E2pg.otf");
}
